@media only screen and (max-width: 600px) {
    #header{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3px;
        border-bottom: 3px solid black;
        width: 100%;
}

#pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#title{
    display: flex;
    justify-content: center;
}

#body{
    display: flex;
    flex-direction: column
    
}


#sideContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid black;
    width: 100%;
}

#rightSide{
    grid-column: span 2
}

#rightSideContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-bottom: 3px solid; */
    width: 100%;
}

#bodyCenter{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid;
    grid-column: span 8;
    height: 100%;
    width: 100%;
}

#bodyUpper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    margin-left: 20px;
    text-align: end;
}

hr{
    height: 2px;
    width: 100%;
    background-color: black;
    border: none;
}

#leftSide{
    display: flex;
    flex-direction:column;
    align-items:end;
    justify-content: center;
    text-align: end;
    width: 100%;
    grid-column: span 2;
    margin-left: 10px;
    border-bottom: 2px solid black;
    height: 100%;

}

#footerBody{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

p{
    margin: 0;
}

.footerItem{
    border: 2px solid;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
}
